[Unit]
Description=transmission-openvpn docker container
After=docker.service
Requires=docker.service

[Service]
User=pi
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill transmission-openvpn
ExecStartPre=-/usr/bin/docker rm transmission-openvpn
ExecStartPre=/usr/bin/docker pull haugene/transmission-openvpn
ExecStart=/usr/bin/docker run \
 --name transmission-openvpn \
 --restart=always \
 --cap-add=NET_ADMIN --privileged -d \
 -v /media/pi/ADataPort01/Downloads/:/data \
 -v /etc/localtime:/etc/localtime:ro \
 -v /home/pi/pimedia.ovpn:/etc/openvpn/custom/default.ovpn \
 -v /home/pi/pimedia.ovpn:/config/openvpn-credentials.txt \
 -e ENABLE_UFW=true \
 -e UFW_ALLOW_GW_NET=true \
 -e UFW_EXTRA_PORTS=51413 \
 -e UFW_DISABLE_IPTABLES_REJECT=true \
 -e CREATE_TUN_DEVICE=true \
 -e OPENVPN_OPTS='--inactive 3600 --ping 10 --ping-exit 60' \
 -e OPENVPN_PROVIDER=CUSTOM \
 -e OPENVPN_CONFIG=/etc/openvpn/custom/default \
 -e WEBPROXY_ENABLED=false \
 --log-driver json-file \
 --log-opt max-size=10m \
 --dns 8.8.8.8 \
 -e LOCAL_NETWORK=192.168.178.39 \
 -p 9091:9091 \
  haugene/transmission-openvpn:latest-armhf

[Install]
WantedBy=multi-user.target
